@media screen and (max-width:767px) {
    .weatherCard{
        width: 85%;
        min-width:85%;        
    }
}

@media screen and (max-width:991px) {
    .weatherCard{
        margin: 20px auto 20px auto;
    }
}